:root{
    --Liver: #66463B;
    --Umber: #966B5B;
    --Dun: #E1CFBB;
    --Grey: #6B706A;
    --Ashg1: #A3B2A4;
    --Ashg2: #99a698;
    --Grass: #4f634b;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--Ashg2);
    color: var(--Liver);
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    /* font-family: 'Caladea', serif;
    font-family: 'Catamaran', sans-serif; */
    grid-template-areas: 'nav nav nav'
                        'header header header'
                        'info info info'
                        'proj1 proj1 proj1'
                        'proj2 proj2 proj2'
                        'footer footer footer';
}

.nav{
    display: flex;
    grid-area: nav;
    height: 75px;
    width: 100%;
    background-color: red;
}

.btns{
    display: flex;
}

.header{
    grid-area: header;
    height: 300px;
    background-color: blue;
}

.donate-info{
    grid-area: info;
    height: 200px;
    background-color: purple;
}

.project1{
    grid-area: proj1;
    height: 300px;
    background-color: green;
}

.project2{
    grid-area: proj2;
    height: 300px;
    background-color: yellow;
}

.proj-list ul li{
        list-style: none;
}
      
.proj-list ul li:before {
        content: '&#x2713;';
}

.footer{
    grid-area: footer;
}